/*#l-menu-container{*/
    /*width: 100%;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
/*}*/

#view-all-menu-container{
    /*flex: auto;*/
    border: solid red 1px;
}

#view-character-menu-container{
    border: solid blue 1px;
}

#create-menu-container{
    border: solid green 1px;
}

#create-xml-container{
    border: solid yellow 1px;
}

#delete-container{
    border: solid brown 1px;
}

#delete-btn-container{
    border: solid black 1px;
}

#action-btn-container{
    border: solid purple 1px;
}

#create-xml-btn-container{
    border: solid indigo 1px;
}

#character-container{
    /*max-height:350px;*/
}

#character-vc-container-table{
    width: 100%;
}

#character-list-tbl{
    width: 100%;
}

#character-list-body-container{
    text-align: center;
}

/*#ability-score-tr{*/
    /*float: left;*/
/*}*/

.menu-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-container{
    padding-top: 10px;
    padding-bottom: 10px;
}

.or-p{
    margin: 10px;
}